:root {
  /* Custom Variables */
  --wsp-red: #ff4337;

  --sidebar-width: 80px;
}


html,
body,
#viewDiv,
#container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100% - var(--sidebar-width);
  color: #323232;
  /* font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

#viewDiv {
  margin-left: var(--sidebar-width);
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--sidebar-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--wsp-red); /* Red */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

#wspLogo {
  /* transform: translate(45px, 0); */
  padding: 0;
  fill: white;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  width: 50%;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}



body {
  background: radial-gradient(#ffffff, #e0e0e0);
  /* background: radial-gradient(#12bff2, #0269a1); */
}

#viewDiv canvas {
  filter: saturate(1.2) drop-shadow(0 0 20px white);
}

.esri-view .esri-view-surface--touch-none:focus::after {
  outline: none !important;
  /* outline-color: var(--wsp-red); */
}

/* popup styling */

.esri-popup__content {
  margin: 0;
}

.esri-popup__header-title {
  font-size: 18px;
}

.esri-popup__footer {
  display: none;
}

.esri-feature__main-container .popupImage {
  max-height: 250px;
  overflow: hidden;
}

.popupImage > img {
  width: 100%;
}

.popupImageCaption {
  text-align: center;
  font-size: 0.8em;
  padding: 0.1em 1.5em 0;
}

.popupDescription {
  padding: 1em;
}

p.info {
  margin-bottom: 2em;
  font-size: 1.1em;
}

.popupDescription > p:last-child {
  margin-bottom: 0;
}

.popupCredits {
  font-size: 0.8em;
  padding: 0 2.5em 0.5em 2.5em;
}

.esri-attribution__sources a {
  color: #323232;
}

/* intro and about page */

#viewDiv {
  filter: blur(10px);
  transition: filter 0.4s;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

#introDiv {
  position: relative;
  width: 60%;
  max-width: 700px;
  min-height: 350px;
  flex: 1;
  background-color: #fff;
  padding: 3em;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

#introDiv h1 {
  margin-top: 0;
  margin-bottom: 1em;
}

#introDiv p {
  line-height: 1.5em;
}

#container a:hover {
  color: white;
  background: var(--wsp-red);
}

#container a {
  color: var(--wsp-red);
  text-decoration: none;
  font-weight: bold;
}

button.esri-icon-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background: transparent;
  border: none;
  cursor: pointer;
}

#about {
  color: white;
  box-shadow: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

#start-globe {
  border-radius: 0.2em;
  padding: 0.8em 1.5em;
  font-size: 1em;
  margin: 2em auto;
  display: block;
  /* border: 1px solid #ff4337; */
  border: none;
  background: transparent;
  /* color: #ff4337; */
  color: #636363;
  pointer-events: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#start-globe:hover {
  color: white !important;
  background: var(--wsp-red);
  border: 1px solid white;
  transition: all 0.5s;
  cursor: pointer;
}


#info {
  background-color: black;
  opacity: 0.75;
  color: orange;
  font-size: 18pt;
  padding: 8px;
  visibility: hidden;
}

button.esri-button {
  background: transparent;
  color: black;
  border: transparent;
  box-shadow: none;
  text-align: center;
  width: max-content !important;
  /* height: 3em; */
  /* width: 7em; */
  white-space:nowrap;
  overflow:hidden;
  font-family: 'Montserrat', sans-serif;
}

button.esri-button:hover {
  color:var(--wsp-red);
  border: transparent;
  background: transparent;
}

#actions {
  background: transparent;
  border: transparent;
  box-shadow: none;
}

#button-container-id {
  /* display: flex; */
  display: none;
}

#rockstarTitle {
  background: transparent;
  border: transparent;
  box-shadow: none;
}

#buttonRockstar {
  font-weight: bold;
}

#circleContainer {
  width: 0;
  height: 0;
  /* width: 600px;
  height: 400px; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  position: relative; 
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  pointer-events: none;
  display: none;
}

.circle {
  border-radius: 50%;
  /* background-color: #ff4337; */
  width:  150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  border: 2px solid var(--wsp-red);
  animation: scaleIn 0.5s linear;
  /* animation: scaleIn 1s cubic-bezier(.36, .11, .89, .32); */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  pointer-events: none;
}

@keyframes scaleIn {
  0% { transform: scale(0.01); opacity:0; }
  25% { transform: scale(1.0); opacity:0.7; }
  /* 50% { transform: scale(1.0); opacity:1; } */
  100% { transform: scale(3.0); opacity:0; }
}

